<!doctype html>
<html lang="{{ app.request is not null ? app.request.locale }}" xmlns="http://www.w3.org/1999/html">
    <head>
        <title></title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="author" content="Rich ID">

        <style>
            {% include 'RichIdMaintenanceBundle::style.css.twig' %}
        </style>
    </head>

    <body>
        {% if isAuthorizedPeople == false %}
            <div class="rich-id-maintenance-warning">{{ 'rich_id_maintenant.administration.alert'|trans({}, 'maintenance') }}</div>
        {% endif %}

        <div class="rich-id-maintenance-toggle">
            {{ form_widget(form.isLocked) }}
            {{ form_label(form.isLocked) }}
        </div>

        {{ form(form) }}
    </body>
</html>
